<html>
    <head>
        <title>Ultimate Arena</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="arena.css" rel='stylesheet'>
        <link href="/../arena.css" rel='stylesheet'>
    </head>
    <body>
        <div class="container">

            <h2><center>The Ultimate Arena</center></h2>
            <hr>
            {% if new == 1 %}
                <h4><center>> new hero added! <</center></h4>
            {% endif %}

            <div class="col-xs-2"></div>

            <div class="col-xs-8">
                {% if players is not empty %}

                    <h4>Choose your hero:</h4>
                    {% for player in players %}
                    <div class="name">
                        <form action="/menu/{{ player.getId }}" method="get">
                            <button type="submit" class="arena">-></button>
                        </form>
                        {{ player.getName }}
                    </div>
                    <div class="stat">
                        <ul>
                            <p>&nbsp;&nbsp;&nbsp;wins: {{ player.getWins }}</p>
                            <p>&nbsp;&nbsp;&nbsp;hp: {{ player.getMaxHp }}</p>
                        </ul>
                    </div>
                    <br>
                    {% endfor %}
                {% endif %}

                <h4>Create a new hero:</h4>
                <form action="/heroes" method="post">
                    <button type="submit" class="arena">-></button>
                    <input id="name" name="name" type="text" class="arena"
                        placeholder="NAME" maxlength="8" required autofocus>
                </form>
            </div>

            <div class="col-xs-2"></div>

        </div>
    </body>
</html>
